---
import Layout from '../../layouts/inner-layout.astro';
---

<Layout pageTitle="About">
  <div class="media about-avatar">
    <figure class="media-left">
      <img alt="Rob Kendal profile picture" src="/img/robkendal.jpg" />
    </figure>

    <div class="media-content">
      <h2>Rob Kendal</h2>

      <p>
        Rob is a front end developer from sunny Yorkshire, in the UK. He can
        always be found building lovely user interfaces and tackling challenges
        using a suite of front end tools and technologies; currently React JS
        and Bulma.
      </p>

      <p>
        As a regular blogger on <a href="https://robkendal.co.uk"
          >his personal website</a
        > and <a href="https://dev.to/kendalmintcode">active member of Dev</a>,
        he loves to give back to the development community via tutorials,
        helpful career articles and by mentoring upcoming developers on the
        wonderful <a href="https://codingcoach.io">Coding Coach</a> platform.
      </p>

      <p>
        If you'd like to connect with Rob or discover some of his content then
        head on over to the various digital places below:
      </p>

      <ul>
        <li>
          <a href="https://twitter.com/kendalmindcode">Follow Rob on Twitter</a>
        </li>
        <li>
          <a href="https://dev.to/kendalmintcode">Engage with Rob on Dev</a>
        </li>
        <li>
          <a href="https://robkendal.co.uk">Read more on Rob's website</a>
        </li>
        <li>
          <a href="https://codingcoach.io">Find a mentor on Coding Coach</a>
        </li>
      </ul>
    </div>
  </div>
</Layout>
