---
import BaseLayout from '../../layouts/base-layout.astro';
import EpisodeRoll from '../../components/EpisodeRoll.astro';
---

<BaseLayout>
  <section class="hero is-primary is-medium has-text-dark page-header">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="has-text-weight-bold is-size-3-mobile is-size-2-tablet">
          Latest episodes
        </h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="content">
        <EpisodeRoll />
      </div>
    </div>
  </section>
</BaseLayout>
