---
import BaseLayout from '../../layouts/base-layout.astro';
import EpisodeRoll from '../../components/EpisodeRoll.astro';
---

<BaseLayout>
  <section class="hero is-primary page-header text-center bg-brand-yellow-900">
    <div class="hero-body">
      <h1 class="text-brand-blue-900">Latest episodes</h1>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="content">
        <EpisodeRoll />
      </div>
    </div>
  </section>
</BaseLayout>
