---
import BaseLayout from '../layouts/base-layout.astro';
import EpisodeRoll from '../components/EpisodeRoll.astro';
import SocialLinks from '../components/SocialLinks.astro';

const title = 'The Front End Podcast';
const subheading =
  'A podcast all about web development, learning, careers in tech, and coding origin stories';
const intro = {
  heading: 'What is The Front End all about?',
  description:
    "In The Front End podcast, we explore the in's and out's of life as a developer. We delve into challenging topics around modern-day development and technology including learning and professional growth, programming languages, frameworks, tools, techniques, UX/UI, and careers.",
};
---

<BaseLayout>
  <section
    class="hero is-primary is-medium has-text-dark page-header home-page-header pb-14 pt-20"
    style={{
      backgroundImage: `url(/img/frontend-podcast-bg.png)`,
    }}
  >
    <div class="hero-body text-center text-brand-yellow-900">
      <div class="space-y-6 max-w-3xl mx-auto">
        <p class="hero-avatar mb-20">
          <img
            src="/img/frontendpodcast-logo.png"
            class="avatar"
            alt="The Front End logo"
          />
        </p>
        <h1 class="has-text-weight-bold is-size-3-mobile is-size-2-tablet">
          {title}
        </h1>
        <p>{subheading}</p>
        <SocialLinks />
      </div>
    </div>
  </section>

  <section class="container">
    <div class="max-w-4xl mx-auto">
      <div class="py-20 space-y-10">
        <h2 class="heading-1">
          {intro.heading}
        </h2>
        <p>
          {intro.description}
        </p>
      </div>

      <div class="space-y-10">
        <hr />
        <h2 class="pb-1">Latest episodes</h2>

        <EpisodeRoll />

        <a
          href="/episodes"
          class="bg-brand-white-900
            text-brand-black-900
            rounded-full
            px-4
            py-2
            text-xl
            hover:bg-brand-yellow-900
            hover:text-brand-black-900
            my-20 block max-w-xs text-center mx-auto"
        >
          View all episodes
        </a>
      </div>
    </div>
  </section>
</BaseLayout>
