<div class="bg-brand-blue-900 rounded-md">
  <div class="flex flex-row gap-2">
    <div class="w-2/12 pt-5">
      <img
        src="/img/podcast-icon.png"
        alt="Podcast microphone icon"
        class="avatar w-16 h-auto block mx-auto"
      />
    </div>

    <div class="w-10/12">
      <h3 class="author-title">About The Front End</h3>
      <p class="author-description">
        The Front End Podcast explores the in's and out's of life as a
        developer. Covering topics such as modern-day development, learning and
        professional growth, frameworks, tools, techniques, UX/UI, and careers.
      </p>
      <p>
        Created by <a href="https://robkendal.co.uk">Rob Kendal</a>, a UI
        developer from Yorkshire.
      </p>
    </div>
  </div>
</div>
