<div class="author-box box">
  <div class="media">
    <div class="media-left">
      <div class="author-avatar">
        <img
          src="/img/podcast-icon.png"
          alt="Podcast microphone icon"
          class="avatar"
        />
      </div>
    </div>
    <div class="media-content content is-small">
      <h3 class="author-title">About The Front End</h3>
      <p class="author-description">
        The Front End Podcast explores the in's and out's of life as a
        developer. Covering topics such as modern-day development, learning and
        professional growth, frameworks, tools, techniques, UX/UI, and careers.
      </p>
      <p>
        Created by <a href="https://robkendal.co.uk">Rob Kendal</a>, a UI
        developer from Yorkshire.
      </p>
    </div>
  </div>
</div>
