<section>
  <div class="notification is-primary">
    <h3>Feature as a guest on The Front End</h3>
    <form
      class="is-full-width"
      name="podcast-request"
      method="post"
      action="/guests/thanks/"
      data-netlify="true"
      data-netlify-honeypot="bot-field"
    >
      {
        /* The `form-name` hidden field is required to support form submissions without JavaScript */
      }
      <input type="hidden" name="form-name" value="newsletter" />
      <div hidden>
        <label>
          Don’t fill this out:
          <input id="bot-field" name="bot-field" />
        </label>
      </div>

      <div class="field">
        <label class="label" for="txtName"> Your Name</label>
        <div class="control is-expanded">
          <input
            id="txtName"
            name="name"
            class="input"
            type="text"
            placeholder="Your name"
            required
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="txtEmail"> Your email address</label>
        <div class="control is-expanded">
          <input
            id="txtEmail"
            name="email"
            class="input"
            type="email"
            placeholder="Your email address"
            required
          />
        </div>
      </div>
      <div class="field">
        <label class="label" for="txtIntroduction"> Introduction</label>
        <div class="control is-expanded">
          <textarea
            id="txtIntroduction"
            name="introduction"
            class="textarea"
            placeholder="Tell me a little about yourself"
            required></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary is-rounded">
            send
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
