<p
  class="social-links flex flex-row flex-wrap gap-3 items-center justify-center"
>
  <a
    href="https://twitter.com/frontendpodcast"
    target="_blank"
    rel="noreferrer noopener"
  >
    <span class="fab fa-twitter" aria-hidden="true"></span>
    <span class="sr-only">Follow us on Twitter</span>
  </a>
  <a
    href="https://open.spotify.com/show/4GuAxptrtY8Es5iHwp09dT"
    target="_blank"
    rel="noreferrer noopener"
  >
    <span class="fab fa-spotify" aria-hidden="true"></span>
    <span class="sr-only">Listen on Spotify</span>
  </a>
  <a
    href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8xM2IxMjNhNC9wb2RjYXN0L3Jzcw=="
    target="_blank"
    rel="noreferrer noopener"
  >
    <span class="fab fa-google-play" aria-hidden="true"></span>
    <span class="sr-only">Listen on Google Podcasts</span>
  </a>
  <a
    href="https://podcasts.apple.com/gb/podcast/the-front-end/id1499349107"
    target="_blank"
    rel="noreferrer noopener"
  >
    <span class="fab fa-itunes" aria-hidden="true"></span>
    <span class="sr-only">Listen on Apple Podcasts</span>
  </a>
  <a
    href="https://anchor.fm/the-front-end"
    target="_blank"
    rel="noreferrer noopener"
  >
    <span class="fas fa-podcast" aria-hidden="true"></span>
    <span class="sr-only">Listen to The Front End Podcast on Anchor</span>
  </a>
  <a
    href="https://anchor.fm/s/13b123a4/podcast/rss"
    target="_blank"
    rel="noreferrer noopener"
  >
    <span class="fas fa-rss" aria-hidden="true"></span>
    <span class="sr-only">Subscribe to the RSS feed</span>
  </a>
</p>
