---
import Layout from '../../layouts/inner-layout.astro';
import GuestSnippet from '../../components/GuestSnippet.astro';
---

<Layout pageTitle="Feature as a guest">
  <section class="prose prose-lg max-w-none">
    <h2>Can I be featured in an episode?</h2>
    <p>
      Of course you can, the more the merrier! Fill in the quick form below and
      we'll be in touch to arrange a time to record the show.
    </p>
    <p>
      If you'd like to know more about the show's format and what you'll be
      asked, you can read{' '}
      <a href="/faq">The Front End Podcast FAQ</a>
      where all the answers will be revealed.
    </p>
    <h2>What topics are you looking for guests to discuss?</h2>
    <p>
      In short, a variety. We've got a host of topics and ideas lined up, but if
      you can talk about any of the following areas that would be ace:
    </p>
    <ul>
      <li>Unit and visual testing</li>
      <li>Accessibility</li>
      <li>CSS and preprocessors</li>
      <li>Design systems, wireframing and UX</li>
      <li>Getting hired as a developer</li>
      <li>Productivity</li>
      <li>Blogging and writing technical tutorials</li>
      <li>Tools, tips and tricks</li>
      <li>Problem solving and debugging</li>
      <li>Development languages</li>
      <li>Developer origin stories</li>
      <li>JavaScript frameworks</li>
      <li>Freelancing and starting your own business</li>
      <li>Reddit-style AMA posts (ask me anything)</li>
      <li>Discussions with a wealth of diverse guests</li>
      <li>...and more</li>
    </ul>
    <p>&nbsp;</p>
  </section>
  <GuestSnippet />
</Layout>
