@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Sanchez:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* font-size: 112.5%; */
  }

  html,
  body {
    @apply bg-brand-gray-900 text-brand-white-900 md:leading-relaxed transition-all duration-200 ease-linear;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-headings text-brand-yellow-900 font-semibold;
  }

  h1,
  .heading-1 {
    @apply text-5xl;
  }

  h2,
  .heading-2 {
    @apply text-4xl;
  }

  h3,
  .heading-3 {
    @apply text-3xl font-semibold;
  }

  h4,
  .heading-4 {
    @apply text-2xl;
  }

  h5,
  .heading-5 {
    @apply text-lg;
  }

  h6,
  .heading-6 {
    @apply text-base;
  }

  a {
    @apply hover:text-brand-green-900 transition-colors duration-200 ease-linear;
  }

  .container {
    @apply mx-auto px-4 max-w-5xl;
  }

  .container .container {
    @apply px-0;
  }
}

@layer components {
  /* Headers */

  .page-header {
    @apply bg-brand-blue-900 text-brand-yellow-900 bg-top bg-no-repeat bg-cover;

    &:not(.home-page-header) {
      .hero-body {
        padding-bottom: 7rem;
        padding-top: 7rem;
      }
    }
  }

  .avatar {
    border: 4px solid #c9e265;
    border-radius: 100%;
    box-shadow: 0 0 1px 11px #c9e26526, 0 0 1px 22px #c9e2651a;
    display: inline-block;
  }

  .hero-avatar .avatar {
    height: 130px;
    width: 130px;
  }

  .social-links a {
    @apply bg-brand-white-900 rounded-full w-10 h-10 text-xl text-brand-gray-900 text-center flex justify-center items-center hover:bg-brand-yellow-900 hover:text-brand-gray-900;
  }

  /* Forms */
  .field {
    @apply mb-3;

    label {
      @apply mb-2 block;
    }

    .control {
      input,
      textarea {
        @apply rounded-md block w-full border-transparent;
      }

      button {
        @apply bg-brand-yellow-900 text-brand-gray-900 rounded-full py-2 px-6 text-lg border border-brand-blue-900 mt-5 hover:bg-brand-blue-900 hover:text-brand-white-900;
      }
    }
  }
}

@layer utilities {
}
