---
import BaseLayout from '../layouts/base-layout.astro';

interface Props {
  pageTitle: string;
  title?: string;
  description?: string;
}

const {
  pageTitle = '',
  title = 'The Front End - A podcast about tech, development, careers and user interfaces',
  description = 'A podcast exploring life as a modern day developer, with stories, learning and professional growth, recruitment, and tech careers',
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <section class="hero is-primary is-medium has-text-dark page-header">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="has-text-weight-bold is-size-3-mobile is-size-2-tablet">
          {pageTitle}
        </h1>
      </div>
    </div>
  </section>
  <section class="section section--gradient">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="content">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
