---
import BaseLayout from '../layouts/base-layout.astro';

interface Props {
  pageTitle: string;
  title?: string;
  description?: string;
}

const {
  pageTitle = '',
  title = 'The Front End - A podcast about tech, development, careers and user interfaces',
  description = 'A podcast exploring life as a modern day developer, with stories, learning and professional growth, recruitment, and tech careers',
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <section class="hero is-primary page-header text-center bg-brand-yellow-900">
    <div class="hero-body">
      <h1 class="text-brand-blue-900">
        {pageTitle}
      </h1>
    </div>
  </section>
  <section class="container max-w-5xl">
    <div class="my-12">
      <slot />
    </div>
  </section>
</BaseLayout>
