---
import Layout from '../../layouts/inner-layout.astro';
---

<Layout pageTitle="Sponsorship">
  <p>
    The face/voice behind the podcast belongs to me, <a
      href="https://robkendal.co.uk"
      target="_blank">Rob Kendal</a
    >, a seasoned software engineer specialising in front end development. I
    wanted to expand my creative outlets and bring a different voice into the
    world of podcasts. I want to be able to share my experience and feature a
    range of diverse guests from whose experiences and advice we can all learn.
  </p>

  <p>
    The podcast aims to cover a range of topics from getting hired as a
    developer, frameworks and tools, design systems, UI/UX, opinions and hot
    topics in tech. We don't have a specific target experience range and hope to
    provide interesting and engaging content for both junior and senior
    developers alike.
  </p>

  <p>
    Although young, the aim for the podcast is to resonate with and gain some
    ground in the UK, current analytics are reinforcing this aim.
  </p>

  <p>
    Podcast episodes are released on a bi-monthly cycle and cover technical
    areas, developer origin stories, and career advice.
  </p>

  <h2>Becoming a sponsor</h2>

  <p>
    If you'd like to reach a diverse audience of listeners across the tech
    landscape in a range of roles from beginner developers to senior engineers,
    support the show and become a sponsor. What's more, you'll be helping to aid
    those in need as a portion of any sponsorship will be apportioned to
    charity.
  </p>

  <p>
    We can work with a script of your choosing, or work within the podcast's
    unique tone and voice.
  </p>

  <h3>Pricing</h3>

  <p>
    You have a couple of options for sponsorship, depending on budget and
    preferred approach.
  </p>

  <ul>
    <li>One, pre-show slot, &pound;100</li>
    <li>Two, mid-show slots, &pound;60</li>
  </ul>

  <p>
    There is no minimum agreement for sponsorship, but we recommend at least two
    shows to reach a level of consistency with the show's audience.
  </p>

  <h3>What's included?</h3>

  <p>Included in any sponsorship option is the following:</p>

  <ul>
    <li>End-show credits.</li>
    <li>
      Your branding, website link and description added to this very website
      under the episode's specific page.
    </li>
    <li>
      A link to your website included in the show description which is then
      syndicated to various podcast sites via the RSS feed.
    </li>
    <li>
      Three tweets on our supporting twitter account timed before, during and
      after the airing of the featuring episode.
    </li>
  </ul>

  <h3>Charity</h3>

  <p>
    50% of any sponsorship monies received will be given to charity. This will
    be spilt again so that half supports a national charity and the remaining
    half will support a local Yorkshire charity.
  </p>

  <h2>Show format</h2>

  <p>
    Each show is diverse in topic and guests, but the general format for each
    episode runs as follows:
  </p>

  <ul>
    <li>Introduction to the episode and intro music</li>
    <li>Pre-show sponsor slot (where applicable)</li>
    <li>Episode part 1</li>
    <li>Interlude and mid-show sponsor slot (where applicable)</li>
    <li>Episode part 2</li>
    <li>Wrap up and end credits/sponsor slot (where applicable)</li>
    <li>Outro music</li>
  </ul>

  <h2>Ready to get started?</h2>

  <p>
    Send an email to hello@thefrontendpodcast.site or [visit the contact
    page]('/contact') to sponsor the show.
  </p>
</Layout>
